* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}

.grilla {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: auto-fit;
    grid-gap: 10px;
}

.grilla>div {
    background-color: aqua;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

@media only screen and (max-width: 1000px) {
    .grilla {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(auto-fit, minmax(5px, 1fr));
    }
}