*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    text-decoration: none;
}
.grilla{
    display: grid;
   /*grid-template-columns: repeat(3,1fr);*/
    grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
    grid-gap: 10px;
}


.grilla > div {
    background-color: aqua;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;